pkgbase = tvheadend
	pkgdesc = TV streaming server for Linux
	pkgver = 4.3
	pkgrel = 1
	url = https://tvheadend.org/projects/tvheadend
	install = tvheadend.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = wget
	makedepends = python
	depends = avahi
	depends = ffmpeg
	depends = uriparser
	depends = openssl
	depends = tar
	optdepends = xmltv: For an alternative source of programme listings
	optdepends = libiconv: For conversion of character encodings
	provides = tvheadend
	conflicts = tvheadend-git
	source = https://github.com/tvheadend/tvheadend/archive/v4.3.tar.gz
	source = tvheadend-service.patch
	source = 0001-ffmpeg-3.5-fixes.patch
	sha256sums = 9385388926154d03984d650b511a7e490707abbc51ec2590f2d84ca7757e8b4d
	sha256sums = 23897afe6a6aa1382d0d37bf2c38bd4d04deabcb2bcc1f966b57323ffdc23f2c
	sha256sums = 0481d7ab443639d2ffc2e13e7f3207b1489fafbe605b9fbe50d3a8d44acf5a38

pkgname = tvheadend

