pkgbase = kodi-addon-pvr-vdr-vnsi
	pkgdesc = PVR add-on for XBMC to add VDR as a TV/PVR Backend
	pkgver = 3.5.4
	pkgrel = 1
	url = https://github.com/kodi-pvr/pvr.vdr.vnsi
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = kodi-dev
	makedepends = kodi-platform
	depends = kodi-pre-release
	source = git+https://github.com/FernetMenta/pvr.vdr.vnsi.git#commit=18c7474e3c33bde7b6cda82dcef58f58aaca8132
	md5sums = SKIP

pkgname = kodi-addon-pvr-vdr-vnsi

